header{
  background-color:rgb(188, 231, 221);
  width:100%;
  height:120px;
  padding:3em 0em 1em 0em;
  margin:0;

}

.barra{
  background-image: url("images/barrita.jpg");
   width:100%;
   height:50px;
   position: absolute;
   background-repeat: no-repeat;
}

.input{
  width: 190px;
  height: 25px;
}

h2{
  font-size: 40px;
  color: rgba(175, 131, 88, 0.918);
  margin: 1em 1em 1em 0.5em;
}

body {
  text-align: center;
  height: 654px;
  background: rgb(255, 255, 255);
  margin: 0;
  padding:0;
}

h1{
  text-align:left;
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style:normal;
  color: #A18262;
  margin: 1em 1em 1em 0.5em;
}

p{
  text-align:left;
  font-weight: 10px;
  font-size: 20px;
  color: rgba(161, 129, 98, 0.932);
  padding:0px 10px 0px 10px;
}
button{
 font-weight: bold;
  width:150px;
  height: 50px;
  padding: 6px 15px;
  background-color: rgba(239, 112, 127, 0.651);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 5px inset rgba(239, 112, 127, 0.705);
  margin: 3em 2em 1em 2em;
}

.hide {
 display: none;
}

.box1{
   display:inline-block;
   width:35%;
   height:320px;
   margin: 5em 2em 2em 2em;
   padding: 1em 1em 0em 1em;
   background-color: rgba(254, 220, 210, 0.932);
   border-radius: 25px;
}

.box2{
   display:inline-block;
   width:60%;
   height:125px;
   padding: 1em 1em 0em 1em;
   margin: 0em 2em 1em 2em;
   background-color: rgba(221, 202, 208, 0.5);
   border-radius: 10px;
   border: 5px groove rgba(154, 143, 146, 0.705);
}

.masked{
  font-weight: bold;
  font-size: 15px;
}

.validation{
  font-weight: bold;
  font-size: 20px;
  color: rgba(33, 33, 33, 0.945);
  background-color: rgb(233, 240, 23);
  border: 2px inset rgb(233, 240, 23);
  margin: 0em 4.5em 0.5em 4em;
}

footer{
  width:100%;
  height:40px;
  background-color:rgb(188, 231, 221);
  margin-top: 4.5em;
  font-size: 10px;
  padding-top: 0.2em;
  color: rgb(154, 150, 147);
}

.refresh{
  color: rgba(120, 105, 90, 0.932);
  background-color: rgba(245, 235, 238, 0.938);
  font-size: 15px;

}
